<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Successful</title>
    <style>
        body {
            background: linear-gradient(135deg, #6EE7B7, #3B82F6, #9333EA);
            font-family: sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
           /* Light gray background */
            margin: 0; /* Remove default margin */
        }
        body {
            margin: 0;
            overflow: hidden; /* Prevent scrollbars */
        }

        #video-background {
            position: fixed; /* Stay in place */
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover; /* Cover the entire background */
            z-index: -1; /* Place behind other content */
        }

        .container {
            text-align: center;
            padding: 40px;
            background-color: rgba(0, 0, 0, 0.466);
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
        }

        h1 {
            color: #08ff10; /* Blue heading */
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }

        p {
            margin-bottom: 20px;
            color: rgba(243, 242, 247, 0.995);
            font-family: cursive;
        }

        a {
            display: inline-block;
            padding: 10px 20px;
            background-color: #8efd17a4; /* Blue button */
            color: rgb(6, 8, 0);
            text-decoration: none;
            border-radius: 5px;
        }
        a:hover{
            background-color: #29f729; /* Darker blue on hover */
            
        }
    </style>
</head>
<body>
 

    <div class="container">
        <img src="/green-tick.gif" width="100px" heigth="100px">
        <h1>Registration Successful!</h1>
        <p>Thank you for registering. We're excited to have you join us!</p>
        <p>You will receive a confirmation email shortly with further instructions. </p>

        <a href="/">Go to Homepage</a>  </div>

</body>
</html>